fastapi
uvicorn[standard]
python-dotenv
# HTTP Requests (for Ollama)
requests

# AI & Embeddings
sentence-transformers
faiss-cpu

# Translation
deep-translator

# PDF Processing
PyMuPDF
pdfminer.six

# Data Handling
numpy
pandas

# Utility
pydantic

# LangChain (optional)
langchain
langchain-community
langchain-text-splitters

# Scheduling Tasks                           
APScheduler 
numpy
